* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: sans-serif;
  background: #41e1ba;
  line-height: 1.5;
  transition: background-color 300ms ease-in-out;
}
.App {
  max-width: 640px;
  margin: 0 auto;
}
.working {
  background-color: #ef5d50;
}
.hidden {
  display: none;
}
.pomodoro {
  margin: 3rem 1.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.pomodoro h2 {
  font-size: 1.7rem;
  text-align: center;
}
.pomodoro .timer {
  text-align: center;
  font-size: 6rem;
}
.pomodoro .controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pomodoro button {
  background: #41e1ba;
  border: none;
  font-weight: bold;
  color: #000;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
  border-radius: 0.4rem;
  margin: 20px auto;
}
.working .pomodoro button {
  background: #ef5d50;
  color: #fff;
}
.pomodoro .details {
  margin: 20px 0;
  font-weight: bold;
}
